* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

h1 {
    font-size: 25px;
    color: rgb(143, 18, 18);
    padding: 20px;
}

ul {
    font-size: 15px;
    color: brown;
    padding-left: 20px;
}